.back-page--button { 

    margin-left: -140%;
    margin-bottom: 50%;
}

.previous--movie-button { 

    margin-left: -140%;
}

.next--movie-button { 

    margin-left: 170%;
}

.buttons--container { 
    display: inline-block
   
}