.list-title {
  display: inline-block;
  border-radius: 0.625rem;
  border: 3px solid #2A94E9;
  margin: 5rem;
  padding: 1rem;
  color: #2A94E9;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profil--component {
    position: relative;
    
}
      
.profil--buttons {
    position: absolute;
    bottom : -20px;
    left: -180px;
  }

.profil--avatar, .profil--informations { 
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.personnal-info-container {
  display: flex;
  justify-content: space-evenly;
}
