.profile-container {
    display: flex;
    flex-direction: row-reverse;
}

.profile-info,
.profile-buttons {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.profile-buttons {
    margin-top: 12rem;
}

.profile-buttons button {
    font-family: 'Inter', sans-serif;
}

.profil--informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}
