.buttons--profil {
    background-color: #2A94E9; 
    border: 0;
    color: white;
    font-family: inter;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-right: 5rem;
    border-radius: 6px;
    width: 8rem;
    height: 4rem;
}

