.category-block {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 6px 4px 10px 2px rgba(0, 0, 0, 0.25);
    max-width: 60rem;
    max-height: 70rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    margin : 5rem;
}

.category-title {
    color: #2A94E9;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    align-content: center;
    padding: 2rem;
    margin: 0;
}
.category-elements > a {
    padding-inline: 1rem;
    justify-content: center;
    align-items: center;
}