.category-button {
    display: inline-block;
    border-radius: 40px;
    border: 1px solid #6F6F6F;
    background-color: transparent;
    color: #6F6F6F;
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 1rem;
    margin: 0.5rem;
}
.category-button.selected {
    /* Styles lorsque le bouton est sélectionné */
    border-color: #2A94E9; 
    color: #2A94E9; 
  }
