.title--addcomment { 
    display: flex;
    border-radius: 5px;
    border: 1.5px solid #2A94E9;
    background-color: transparent;
    color: #2A94E9;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    width: 250px;
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    bottom: 30px;
    margin-left: -40%;
    margin-bottom: 1rem;
}

.placeholder--addcomment { 
   
    display: flex;
    border-radius: 5px;
    border: 1px solid #6F6F6F;
    background-color: transparent;
    color: #6F6F6F;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    width: 240%;
    height: 100%;
    align-items:center;
    justify-content:first baseline;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

  }

  .button--addcomment { 
    background-color: #2A94E9; 
    border: 0;
    color: white;
    font-family: roboto;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 6px;
    width: 10rem;
    height: 2rem;
    margin-left: 170%;
   
}
