
.title--comment { 
  
    display: flex;
    border-radius: 5px;
    border: 1.5px solid #2A94E9;
    background-color: transparent;
    color: #2A94E9;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    width: 250px;
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    bottom: 30px;
    margin-left: -40%;
    margin-bottom: 1rem;
}

.avatar--comments {
   
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px;
    border: solid 2px;
    border-color: #2A94E9;
    margin: 0rem;
    right: 100%;
  }

  .name { 
    
    display: flex;
    border-radius: 5px;
    border: 1.5px solid #2A94E9;
    background-color: transparent;
    color: #6F6F6F;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    width: 8rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    right: 7%;

  }

  .comment { 
   
    display: flex;
    border-radius: 5px;
    border: 1px solid #6F6F6F;
    background-color: transparent;
    color: #6F6F6F;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    width: 240%;
    height: 100%;
    align-items:center;
    justify-content:first baseline;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 2rem;

  }

  .avatar--name-container {

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-left: -75%;
  
  }

  