header {
  display: flex;
  background: #FFF;
  box-shadow: 7px 7px 10.1px 5px rgba(0, 0, 0, 0.25);
}

.header-contenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-icons {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 150px;
  height: auto;
  margin-right: 10px;
}

.site-title {
  background: linear-gradient(98deg, #0064FF 9.58%, #2AB4EA 98.02%, #2DE2EE 68%);
  background-clip: text;
  font-size: 3rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; 
}

.search-bar-and-icon {
  display: flex;
  align-items: center;
  width: auto;
}

.search-barre {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  background-color: white;
  border-radius: 30px;
  border: solid 2px #007bff;
  width: 30rem;
}
.icon {
  margin: 2rem;
  margin-right: 5rem;
  margin-top: 2.5rem;
}
input::placeholder {
  font-size: 1.2rem;
}

input {
  border: none;
}