.creation--compte-information,
.birth--date-information {
    display: inline;
    border-radius: 5px;
    border: 1px solid #2A94E9;
    background-color: transparent;
    color: #000000;
    flex-shrink: 0;
    font-family: inter, sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
}