.title {
    color: black;
}
.affiche {
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 5px 5px grey;
} 
.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
    margin-right: 50px;
}

p {
    font-size: 20px;
}
.details {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    margin-top: 50px;
}
.texte {
     margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px; 
}
.informations {
    text-align: justify;
}
