.movie-poster {
    border-radius: 15px;
    background: url(<path-to-image>);
    box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.30);
    width: 24.32256rem;
    height: 34.67975rem;
    flex-shrink: 0;
    margin: 1rem;
}