.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 19rem;
    background-color: white;
    border: 0;
    border-radius: 0.6rem;
    box-shadow: 6px 6px 10px 4px rgba(0, 0, 0, 0.20);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-img {
    width: 18rem;
    object-fit: cover;
    margin: 0.4rem;
    border-radius: 0.6rem;
}

.movie-title {
    width: 16rem;
    min-height: 4rem;
    max-height: fit-content;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: #3C3939;
    margin: 0.4rem;
}

.rating-bubble {
    position: absolute;
    left: 1rem;
    bottom: 4.8rem;
    border: solid 3px;
    border-color: var(--primary-color);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-bubble p {
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: var(--primary-color);
}

#add-button {
    position: absolute;
    top: -1rem;
    right: 2rem;
    width: 3rem;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.40));
}

#add-button:hover {
    transform: scale(1.3);
}
