.next-back--buttons { 

    float: left;
    border-radius: 5px;
    border: 1.5px solid #6F6F6F;
    background-color: transparent;
    color: #6F6F6F;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    width: 8rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;

}