.avatar {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 3px 3px 4px 2px rgba(133, 132, 132, 0.2);
  }

.pseudo--title { 
    display: flex;
    border-radius: 5px;
    border: 1px solid #2A94E9;
    background-color: transparent;
    color: #2A94E9;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    width: 7rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 1rem;
}

.avatar--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

}