.bloc-recommande {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.bloc-text {
    border-radius: 1rem 0rem 0rem 1rem;
    width: 20rem;
    min-height: fit-content;
    height: 35rem ;
    padding: 1rem;
    background: #FFF;
    box-shadow: 7px 7px 20px 3px rgba(0, 0, 0, 0.30);
    align-self: center;
}

.image-recommande {
    width: 30rem;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 7px 7px 20px 3px rgba(0, 0, 0, 0.30);
}
