:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color:#2A94E9;
  --text-color: #3C3939;
  --background-color: #F4F4F4;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-inline: 3rem;
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  place-items: center;
  margin-block: 1rem;
  width: 90rem;
}
main {
  padding-top: 15rem;
  display: flex;
  justify-content: center; 
  align-items: center;
}
